# Default ignored files
/shelf/
/workspace.xml

../src/br/variaveisglobais/VariaveisSQL.java
src/br/variaveisglobais/VariaveisSQL.java
~/src/br/variaveisglobais/VariaveisSQL.java

../out/
../out
out/
out
~/out/
